@page
@inject OrchardCore.IOrchardHelper Orchard

@{
    Layout = "_layout";
}


 <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          @foreach(var post in await Orchard.GetRecentContentItemsByContentTypeAsync("BlogPost"))       
          {

        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
             @post
            </h2>
            <h3 class="post-subtitle">
              @post.Content.BlogPost.Subtitle.Text
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">@post.Author</a>
            on @post.CreatedUtc</p>
        </div>
        <hr>
            
          }
       
       
       
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
